{% extends 'universities/base.html' %}

{% block title %}About{% endblock %}

{% block body %}
    <div class="container">
        <div class="container shadow-lg p-3 mb-5 mt-5 rounded text-white profile-card">
            <div class="container">
                <div class="row">
                    <div>
                        <h2>About</h2>
                        <p>College Dreaming is a website built during our team's senior year (2020-2021) at the
                            University of Cincinnati. Its main goal is to provide a more personalized and
                            holistic approach to the college search. With that being said, anyone can use
                            this website, though it is targeted towards high school students and their families
                            or adults who are looking to obtain another degree, obtain their first degree, or just take
                            a few classes alongside work. <strong>Please note:</strong> College Dreaming is for
                            educational purposes
                            only and is not a business entity. It is purely meant to meet the requirements to graduate
                            from the University of Cincinnati.</p>
                    </div>
                </div>
            </div>
            <hr class="profile-line">
            <h2>Features</h2>
            <ul>
                <li class="mb-3">
                    <strong>Open Source Map Service</strong> - Allows you to virtually explore the
                    surrounding area of a university/college. Letting you get an
                    understanding of the type of environment surrounding a university/college.
                </li>
                <li class="mb-3">
                    <strong>Quiz Feature</strong> - Provides a more engaging and interactive college
                    search. Instead of searching for a specific university or checking off on
                    specific keywords, you will be presented with questions pertaining to
                    potential interests and the result will be a university that accurately
                    represents the interests.
                </li>
                <li>
                    <strong>Search Functionality</strong> - If you already know what universities/colleges
                    you are interested in but can’t seem to find all of the information in one
                    place, you are able to search for a specific university/college and
                    see all of the standard data pertaining to that university/college and
                    non-standard data. A sample could be ACT/SAT scores, tuition, potential earnings
                    after graduation, student demographics, nearby attractions, etc.
                </li>
            </ul>
        </div>
    </div>
{% endblock %}