{% extends 'universities/base.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block body %}
    <style>
        #about-page-main {
            background: linear-gradient(to bottom, rgba(0, 0, 0, .9), rgba(0, 0, 0, .6)), url("{% static 'universities/images/backgrounds/about_background.png' %}") no-repeat center fixed;
            height: 100%;
            color: #eee;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            font-family: 'Roboto Cn', sans-serif;
            overflow: hidden;
        }
    </style>

    <body id="about-page-main">
    <div class="container about-page-content">
        <h2 class="text-center mt-3">- About Us -</h2>
        <p class="text-left" style="font-size: 18px">College Dreaming was created during the senior year of four
            students at the University
            of Cincinnati with the purpose of provide a more holistic college search experience while giving better
            representation
            to smaller, not as well known academic institutions. So go ahead, start your college search now.
        </p>
        <h2 class="text-center mt-3">- Features -</h2>
        <p class="text-left mt-3" style="font-size: 18px">
            <strong>Over 6,000 Academic Institutions - </strong> We collected over data on over 6,000 academic institutions.
            This includes graduation percentages, major percentages, tuition, location, demographics, and more. No single
            institution has more representation than another, we guarantee you'll find an institution you've never heard of
            before.
        </p>
        <p class="text-left mt-3" style="font-size: 18px">
            <strong>Global University Search - </strong> Already know what academic institution you want to
            search for? Then click on the magnifying glass (when on laptop or desktop) and type in your
            institution's name.
        </p>
        <p class="text-left mt-3" style="font-size: 18px">
            <strong>University Quiz - </strong> Don't even know where you want to spend the next upwards to four years?
            Want something more than just a "tuition" search engine? Then take our University Quiz! We'll ask you questions
            and use your answers to find the one college or university that best fits your needs.
        </p>
        <p class="text-left mt-3" style="font-size: 18px">
            <strong>Favorite a University - </strong> We know the college search takes longer than just a day. That's why
            we added a way for you to favorite any colleges or universities that you really like. It's simple; create an account,
            click on the link sent to your email, search a college or university, click on their details and finally, click on the
            favorite button. That way when you come back to search for more colleges or universities, you can click on your profile
            and see what you've already favorited.
        </p>
    </div>
    </body>

    <script src="{% static 'universities/js/about.js' %}" type="text/javascript"></script>
{% endblock %}