{% extends 'universities/base.html' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="container contact-page-form">
        <h1 class="contact-page-header">Questions? Contact Us!</h1>
        <form id="contactForm">
            <div class="form-group">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <label for="emailInput">Email address</label>
                            <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp"
                                   placeholder="Enter Email" required>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="col-sm">
                            <label for="subject">Subject</label>
                            <input type="email" class="form-control" id="subject">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="messageContent">Comment or Message</label>
                <textarea class="form-control" id="messageContent" placeholder="Type Here..." rows="5"></textarea>
            </div>
            <button type="button" class="btn btn-success contact-button" id="contact">Submit</button>
        </form>
    </div>
{% endblock %}