{% extends 'universities/base.html' %}

{% block title %}{{ object.instname }} - Details{% endblock %}

{% block body %}
    <div class="container about-page-header shadow-lg p-3 mb-3 bg-white rounded text-dark raised-layout-forms">
        <h1>{{ object.instname }}</h1>
        <h5>{{ object.zipcodeid.cityid.city }}, {{ object.zipcodeid.cityid.state }}</h5>
        <p>Zipcode: {{ object.zipcodeid.zipcode }}</p>
        <p>Latitude & Longitude: {{ object.latitude }}, {{ object.longitude }}</p>
        <hr>
        <h4>Institution Information</h4>
        <p>Institution Link: {{ object.insturl }}</p>
        <p>Accreditation: {{ object.accredagency }}</p>
        <p>Main Campus: {{ object.main_campus }}</p>
        <p>Number of Campuses: {{ object.numberofbranches }}</p>
        <p>{{ object.highest_degree }}</p>
        <p>{{ object.predominant_degree }}</p>
        {% for type in institution_type %}
            {% if object.institutionid == type.institutiontypeid %}
                <p>Institution Type: {{ type.institution_type }}</p>
            {% endif %}
        {% endfor %}
        <hr>
        <h4>Cost Information</h4>
        {% for cost in costs %}
            {% if object.institutionid == cost.costsid %}
                <p>In-State Tuition: {{ cost.in_state_tuition }}</p>
                <p>Out-of-State Tuition: {{ cost.out_state_tuition }}</p>
            {% endif %}
        {% endfor %}
        <hr>
        <h4>Admission Information</h4>
        {% for admission in admissions %}
            {% if object.institutionid == admission.admissionid %}
                <p>Overall Admissions Rate: {{ admission.admission_rate }}</p>
                <p>Average SAT Score: {{ admission.average_sat_score }}</p>
                <p>Average ACT Score: {{ admission.average_act_score }}</p>
            {% endif %}
        {% endfor %}
        <hr>
        <h4>Demographic Information</h4>
        {% for undergraduate in undergraduates %}
            {% if object.institutionid == undergraduate.undergraduateid %}
                <p>Caucasian: {{ undergraduate.white_students }}</p>
                <p>African American: {{ undergraduate.black_students }}</p>
                <p>Hispanic: {{ undergraduate.hispanic_students }}</p>
                <p>Pacific Islander: {{ undergraduate.pacific_islander_students }}</p>
                <p>Multiracial: {{ undergraduate.multiracial_students }}</p>
                <p>Non-Resident: {{ undergraduate.non_resident_students }}</p>
            {% endif %}
        {% endfor %}
        <hr>
        <h4>Majors Information</h4>
        {% for major in majors %}
            {% if object.institutionid == major.majorid %}
                <div class="row">
                    <div class="col-sm">
                        <p>Business Marketing: {{ major.business_marketing_percentage }}</p>
                    </div>
                    <div class="col-sm">
                        <p>Communication: {{ major.communication_percentage }}</p>
                    </div>
                    <div class="col-sm">
                        <p>Computer: {{ major.computer_percentage }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <p>Language: {{ major.language_percentage }}</p>
                    </div>
                    <div class="col-sm">
                        <p>Engineering Technology: {{ major.engineering_technology_percentage }}</p>
                    </div>
                    <div class="col-sm">
                        <p>Engineering: {{ major.engineering_percentage }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <p>Education: {{ major.education_percentage }}</p>
                    </div>
                    <div class="col-sm">
                        <p>Personal Culinary: {{ major.personal_culinary_percentage }}</p>
                    </div>
                    <div class="col-sm">
                        <p>Communication Technology: {{ major.communications_technology_percentage }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <p>Ethnic/Cultural/Gender: {{ major.ethnic_cultural_gender_percentage }}</p>
                    </div>
                    <div class="col-sm">
                        <p>Architecture Culinary: {{ major.architecture_percentage }}</p>
                    </div>
                    <div class="col-sm">
                        <p>Resources: {{ major.resources_percentage }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <p>Agriculture: {{ major.agriculture_percentage }}</p>
                    </div>
                    <div class="col-sm">
                        <p>Family Consumer Science: {{ major.family_consumer_science_percentage }}</p>
                    </div>
                    <div class="col-sm">
                        <p>Legal: {{ major.legal_percentage }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <p>English: {{ major.english_percentage }}</p>
                    </div>
                    <div class="col-sm">
                        <p>Library: {{ major.library_percentage }}</p>
                    </div>
                    <div class="col-sm">
                        <p>Biological: {{ major.biological_percentage }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <p>Mathematics: {{ major.mathematics_percentage }}</p>
                    </div>
                    <div class="col-sm">
                        <p>Military: {{ major.military_percentage }}</p>
                    </div>
                    <div class="col-sm">
                        <p>Multi-Discipline: {{ major.multidiscipline_percentage }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <p>Parks/Recreation/Fitness: {{ major.parks_recreation_fitness_percentage }}</p>
                    </div>
                    <div class="col-sm">
                        <p>Philosophy/Religion: {{ major.philosophy_religious_percentage }}</p>
                    </div>
                    <div class="col-sm">
                        <p>Theology/Religious/Vocation: {{ major.theology_religious_vocation_percentage }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <p>Physical Science: {{ major.physical_science_percentage }}</p>
                    </div>
                    <div class="col-sm">
                        <p>Science Technology: {{ major.science_technology_percentage }}</p>
                    </div>
                    <div class="col-sm">
                        <p>Psychology: {{ major.psychology_percentage }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <p>Security/Law Enforcement: {{ major.security_law_enforcement_percentage }}</p>
                    </div>
                    <div class="col-sm">
                        <p>History: {{ major.history_percentage }}</p>
                    </div>
                    <div class="col-sm">
                        <p>Social Science: {{ major.social_science_percentage }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <p>Construction: {{ major.construction_percentage }}</p>
                    </div>
                    <div class="col-sm">
                        <p>Mechanic Repair Technology: {{ major.mechanic_repair_technology_percentage }}</p>
                    </div>
                    <div class="col-sm">
                        <p>Precision Production: {{ major.precision_production_percentage }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <p>Transportation: {{ major.transportation_percentage }}</p>
                    </div>
                    <div class="col-sm">
                        <p>Visual Performing: {{ major.visual_performing_percentage }}</p>
                    </div>
                    <div class="col-sm">
                        <p>Health: {{ major.health_percentage }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <p>Public Administration/Social Service: {{ major.public_administration_social_service_percentage }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}