{% extends 'universities/base.html' %}

{% block title %}Quiz{% endblock %}

{% block body %}
{% load static %}
		<link rel="stylesheet" href="{% static 'universities/css/quiz.css' %}">
		<link href="https://fonts.googleapis.com/css2?family=Secular+One&family=Work+Sans:wght@500;600&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Chilanka&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://{{ 'cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' }}">
		<script src="https://{{ 'ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js' }}"></script>
		<script
			  src="https://{{ 'code.jquery.com/ui/1.12.1/jquery-ui.js' }}"
			  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
			  crossorigin="anonymous"></script>
		<script src="{% static 'universities/js/quiz.js' %}"></script>
<form id="mainForm" method="GET">
        <main>
			<div id="quizStarter" class="quizPage">
				<img id="quiz" src="{% static 'universities/images/banner_quiz.png' %}" alt="banner quiz"/>
				<div id="info">
				We've searched thousands of colleges - so that you don't have to.<br> Our quick, easy, and - most importantly - free quiz let's you find the colleges that best meet your needs. <br>
				You're more than just GPA and SAT scores. <br>That's why we go above and beyond to find an institution that'll fit your needs
				inside - and outside - of the classroom.
				</div>
			</div>
			<div id="quizStarterInterm" class="quizPage interm">
				<div class="intermText">Let's start with some basic information</div>
			</div>
			<div id="formStarter" class="quizPage">
			<div class="quizNav right" id="formStarterNext">Next &raquo;</div>
			<div class="starterHeader">
				My Basic Information
			</div>
				<div id="form">
						<label for="relationship">I am the &nbsp</label>
						<select id="relationship">
							<option value="1">Student</option>
							<option value="2">Student's Parent</option>
							<option value="3">Other</option>
						</select>
						<label for="zipcode">&nbsp and currently live in the zip code of &nbsp </label>
						<input id="zipcode" type="text" max="5" /> .
						<label for="income"> &nbsp My annual household income is &nbsp </label>
						<select id="income">
							<option value="1">less than $40,000</option>
							<option value="2">between $40,000 - $100,000</option>
							<option value="3">more than $100,000</option>
						</select>
						<label for="debtConcern"> &nbsp and I am &nbsp </label>
						<select id="debtConcern">
							<option value="1">very concerned</option>
							<option value="2">concerned</option>
							<option value="3">not concerned</option>
							<option value="3">not concerned at all</option>
						</select> &nbsp about debt from attending college/university.
				</div>
			</div>
			<div id="preferencesStarterInterm" class="quizPage interm">
				<div class="intermText">Now let's find what you care about</div>
			</div>
			<div id="preferencesStarter" class="quizPage">
			<div class="quizNav left" id="preferencesStarterPrev">&laquo; Previous</div>
			<div class="quizNav right" id="preferencesStarterNext">Next &raquo;</div>
				<div class="starterHeader">
					I care about a community with...
				</div>
				<div id="preferences">
					<div class="prefContainer" data-isPref="" id="contCrime">
						<img src="{% static 'universities/images/crime_stock.png' %}" class="imgPref left" alt="crime stock"/>
						<div class="prefText">a low crime rate</div>
						<input name="crime" id="inpCrime" value = "{{ request.GET.crime }}" style="display:none;"/>
					</div>
					<div class="prefContainer" data-isPref="" id="contRestaurants">
						<img src="{% static 'universities/images/restaurants_stock.png' %}" class="imgPref left" alt="restaurant stock"/>
						<div class="prefText">a variety of restaurants</div>
						<input name="restaurants" id="inpRestaurants" value = "{{ request.GET.restaurants }}" style="display:none;"/>
					</div>
					<div class="prefContainer" data-isPref="" id="contOutdoors">
						<img src="{% static 'universities/images/outdoors_stock.png' %}" class="imgPref right" alt="outdoors stock"/>
						<div class="prefText">access to the outdoors</div>
						<input name="outdoors" id="inpOutdoors" value = "{{ request.GET.outdoors }}" style="display:none;"/>
					</div>
					<div class="prefContainer" data-isPref="" id="contCommute">
						<img src="{% static 'universities/images/walkability_stock.png' %}" class="imgPref left" alt="walkability stock"/>
						<div class="prefText">an easily walkable commute</div>
						<input name="commute" id="inpCommute" value = "{{ request.GET.commute }}" style="display:none;"/>
					</div>
					<div class="prefContainer" data-isPref="" id="contState">
						<img src="{% static 'universities/images/instate_stock.png' %}" class="imgPref left" alt="instate stock"/>
						<div class="prefText">a campus in my home state</div>
						<input name="state" id="inpState" value = "{{ request.GET.state }}" style="display:none;"/>
					</div>
					<div class="prefContainer" data-isPref="" id="contDiversity">
						<img src="{% static 'universities/images/diversity_stock.png' %}" class="imgPref right" alt="diversity stock"/>
						<div class="prefText">strong diversity</div>
						<input name="diversity" id="inpDiversity" value = "{{ request.GET.diversity }}" style="display:none;"/>
					</div>
				</div>
			</div>
			<input name="submitted" id="inpSubmitted" value="{{ request.GET.submitted }}" style="display:none;" />
			<button type="submit" id="submitButton" style="display:none;">Submit</button>
		</main>
		<script>
		$("#preferencesStarterNext").click(function(){
        	if($("#preferencesStarter").css("display") === "block"){
        		$("#submitButton").click();
            }
   		});
   		$(document).ready(function () {
   			let searchParams = new URLSearchParams(window.location.search);
   			if(searchParams.has('submitted')){
   				$("#divUniversities").css("display", "block");
   			}
   		})
		</script>
</form>
<div id="divUniversities" style="display:none">
	<h1 class="universities-page-header">Academic Institutions</h1>
        {% for university in universities %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="{% url 'university-detail' university.institutionid %}">{{ university.instname }}</a>
                </li>
            </ul>
        {% endfor %}
        <div class="text-center mt-3">
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a class="mb-4" href="?page=1">First</a>
                    <a class="mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a class="mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a class="mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a class="mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a class="mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}
            {% endif %}
        </div>
</div>
{% endblock %}