{% extends 'universities/base.html' %}
{% load static %}

{% block title %}Quiz{% endblock %}

{% block body %}
    <style>
        #quiz-page-main {
            background: linear-gradient(to bottom, rgba(0, 0, 0, .9), rgba(0, 0, 0, .6)), url("{% static 'universities/images/backgrounds/quiz_background.png' %}") no-repeat center fixed;
            height: 100%;
            color: #eee;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            font-family: 'Roboto Cn', sans-serif;
            overflow: hidden;
        }
    </style>


    {% load static %}
    <link rel="stylesheet" href="{% static 'universities/css/quiz.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&family=Work+Sans:wght@500;600&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chilanka&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="https://{{ 'cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' }}">
    <script src="https://{{ 'ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js' }}"></script>
    <script
            src="https://{{ 'code.jquery.com/ui/1.12.1/jquery-ui.js' }}"
            integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
            crossorigin="anonymous"></script>

    <body id="quiz-page-main">

        <form id="mainForm" method="GET" action="{% url 'search-results' %}" class="quiz-form-content">
        <div class="container">
            <div id="quizStarter" class="text-center mt-5">
                <img class="next" id="quiz" src="{% static 'universities/images/banner_quiz.png' %}" alt="banner quiz"/>
                <div id="info" class="mt-5 mb-3">
                    We've searched thousands of colleges - so that you don't have to.<br> Our quick, easy, and - most
                    importantly - free quiz let's you find the colleges that best meet your needs. <br>
                    You're more than just GPA and SAT scores. <br>That's why we go above and beyond to find an
                    institution that'll fit your needs
                    inside - and outside - of the classroom.
                </div>
            </div>
            <div id="quizStarterInterm" class="quizPage interm text-center">
                <div>Let's start with some basic information</div>
            </div>

             <div id="formStarter" class="quizPage">
                <div class="starterHeader text-center">
                    My Basic Information
                </div>
                <hr class="profile-line">
                <div>
                    <div class="row" id="form">
                        <div class="col-sm mt-4">
                            <label for="relationship">I Am The...</label>
                            <select id="relationship" class="form-control">
                                <option value="1">Student</option>
                                <option value="2">Student's Parent</option>
                                <option value="3">Other</option>
                            </select>
                        </div>
                        <div class="col-sm mt-4">
                            <label for="zipcode">Living in the ZIP Code...</label>
                            <textarea id="zipcode" class="form-control" rows="1" maxlength="5"></textarea>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm mt-4">
                            <label for="income">My Annual Household Income is...</label>
                            <select id="income" class="form-control">
                                <option value="1">less than $40,000</option>
                                <option value="2">between $40,000 - $100,000</option>
                                <option value="3">more than $100,000</option>
                            </select>
                        </div>
                        <div class="col-sm mt-4">
                            <label for="debtConcern">How Concerned I Am About Debt...</label>
                            <select id="debtConcern" class="form-control">
                                <option value="1">very concerned</option>
                                <option value="2">concerned</option>
                                <option value="3">not concerned</option>
                                <option value="3">not concerned at all</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row text-center mt-5 mb-3">
                    <div class="col-sm">
                        <div class="btn btn-lg btn-danger next" id="basicInfoStarterNext">Next &raquo;</div>
                    </div>
                </div>
            </div>

            <div id="quizMajorInterm" class="quizPage interm text-center">
                <div>Let's find what majors you're interested in</div>
            </div>

            <div id="majorStarter" class="quizPage">
                <div class="starterHeader text-center">
                    What Type of Programs Am I Interested In?
                </div>
                <hr class="profile-line">
                <div>
                    <div class="row" id="form">
                        <div class="col-sm mt-4">
                            <label for="business">Business Related Program</label>
                            <select id="business" class="selectpicker form-control" name="business_program" multiple data-selected-text-format="count">
                                <option value=".10">Business Marketing</option>
                                <option value=".10">Resources</option>
                                <option value=".10">Transportation</option>
                                <option value=".10">Construction Management</option>
                            </select>
                        </div>
                        <div class="col-sm mt-4">
                            <label for="engineering-technology">Engineering and Technology Related Program</label>
                            <select id="engineering-technology" class="selectpicker form-control" name="engineering_technology" multiple data-selected-text-format="count">
                                <option value=".10">Engineering</option>
                                <option value=".10">Engineering Technology</option>
                                <option value=".10">Communication Technology</option>
                                <option value=".10">Mechanic Repair Technology</option>
                                <option value=".10">Science Technology</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm mt-4">
                            <label for="arts-other">Art and Other Programs</label>
                            <select id="arts-other" class="selectpicker form-control" name="arts_other" multiple data-selected-text-format="count">
                                <option value=".10">Architecture</option>
                                <option value=".10">Visual Performing</option>
                                <option value=".10">Personal Culinary</option>
                                <option value=".10">Multi-Discipline</option>
                                <option value=".10">Military</option>
                                <option value=".10">Parks & Recreation & Fitness</option>
                            </select>
                        </div>
                        <div class="col-sm mt-4">
                            <label for="social-science">Social Science Programs</label>
                            <select id="social-science" class="selectpicker form-control" name="social_science" multiple data-selected-text-format="count">
                                <option value=".10">Social Science</option>
                                <option value=".10">Public Administration</option>
                                <option value=".10">Ethnic Culture & Gender Studies</option>
                                <option value=".10">Psychology</option>
                                <option value=".10">Education</option>
                                <option value=".10">Legal</option>
                                <option value=".10">Humanities</option>
                                <option value=".10">Security & Law Enforcement</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm mt-4">
                            <label for="science-math">Science and Math Related Program</label>
                            <select id="science-math" class="selectpicker form-control" name="science_math" multiple data-selected-text-format="count">
                                <option value=".10">Health</option>
                                <option value=".10">Mathematics</option>
                                <option value=".10">Biology</option>
                                <option value=".10">Family Consumer Science</option>
                                <option value=".10">Physical Science</option>
                                <option value=".10">Agriculture</option>
                            </select>
                        </div>
                        <div class="col-sm mt-4">
                            <label for="literature-language">Literature and Language Related Program</label>
                            <select id="literature-language" class="selectpicker form-control" name="literature_language" multiple data-selected-text-format="count">
                                <option value=".10">Religious Philosophy</option>
                                <option value=".10">Theology Religious Vocation</option>
                                <option value=".10">Library</option>
                                <option value=".10">History</option>
                                <option value=".10">English</option>
                                <option value=".10">Communication</option>
                                <option value=".10">Language</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row text-center mt-5 mb-3">
                    <div class="col-sm">
                        <div class="btn btn-lg btn-danger next" id="preferencesStarterNext">Next &raquo;</div>
                    </div>
                </div>
            </div>
            <div id="preferencesStarterInterm" class="quizPage interm text-center">
                <div>Now let's find what you care about</div>
            </div>

            <div id="preferencesStarterOne" class="quizPage container">
                <div class="quizComponent">
                    <div class="starterHeader text-center">
                        College/University Preferences:
                    </div>
                    <hr class="profile-line">
                    <div id="preferencesOne">
                        <div class="row">
                            <div class="col-sm mt-4">
                                <div class="prefContainer costs text-center" data-isPref="" id="contLowCosts">
                                    <img src="{% static 'universities/images/institution/low_costs.png' %}"
                                         class="imgPref left"
                                         id="img-costs" alt="low costs stock"/>
                                    <div class="prefText" id="div-costs">I'm not worried about costs</div>
                                    <input name="costs" id="inp-costs" value="{{ request.get.GET.costs }}"
                                           style="display:none;"/>
                                </div>
                            </div>
                            <div class="col-sm mt-4">
                                <div class="prefContainer selectivity text-center" data-isPref=""
                                     id="contLowSelectivity">
                                    <img src="{% static 'universities/images/institution/low_selectivity.png' %}"
                                         id="img-selectivity" class="imgPref left" alt="not selective stock"/>
                                    <div class="prefText" id="div-selectivity">high acceptance rate</div>
                                    <input name="selectivity" id="inp-selectivity" value="{{ request.get.GET.selectivity }}"
                                           style="display:none;"/>
                                </div>
                            </div>
                            <div class="col-sm mt-4">
                                <div class="prefContainer special text-center" data-isPref="" id="contHBInstitution">
                                    <img src="{% static 'universities/images/institution/black_institution.png' %}"
                                         id="img-special"
                                         class="imgPref right" alt="historically black stock"/>
                                    <div class="prefText" id="div-special">I want a historically black institution</div>
                                    <input name="special" id="inp-special" value="{{ request.get.GET.special }}"
                                           style="display:none;"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm mt-4">
                                <div class="prefContainer type text-center" data-isPref="" id="contNoPrefType">
                                    <img src="{% static 'universities/images/institution/public_private.png' %}"
                                         id="img-type"
                                         class="imgPref left" alt="no preference stock"/>
                                    <div class="prefText" id="div-type">I have no preference towards public/private
                                        schools
                                    </div>
                                    <input name="type" id="inp-type" value="{{ request.get.GET.type }}"
                                           style="display:none;"/>
                                </div>
                            </div>
                            <div class="col-sm mt-4">
                                <div class="prefContainer size text-center" data-isPref="" id="contNoPrefSize">
                                    <img src="{% static 'universities/images/institution/size_no_pref.png' %}"
                                         id="img-size"
                                         class="imgPref left" alt="no preference stock"/>
                                    <div class="prefText" id="div-size">I have no preference towards school size</div>
                                    <input name="size" id="inp-size" value="{{ request.get.GET.size }}"
                                           style="display:none;"/>
                                </div>
                            </div>
                            <div class="col-sm mt-4">
                                <div class="prefContainer graduation_rate text-center" data-isPref=""
                                     id="contNoPrefGradRate">
                                    <img src="{% static 'universities/images/institution/graduation_no_pref.png' %}"
                                         id="img-graduation_rate"
                                         class="imgPref right" alt="no preference stock"/>
                                    <div class="prefText" id="div-graduation_rate">I have no preference with graduation
                                        rates
                                    </div>
                                    <input name="gradRate" id="inp-gradRate" value="{{ request.get.GET.graduation_rate }}"
                                           style="display:none;"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm text-center">
                        <div class="prev btn btn-lg btn-danger mt-4 mb-3">&laquo; Previous</div>
                    </div>
                    <div class="col-sm text-center">
                        <div class="next btn btn-lg btn-danger mt-4 mb-3">Next &raquo;</div>
                    </div>
                </div>
            </div>
            <div id="preferencesStarterIntermTwo" class="quizPage interm text-center">
                <div class="intermText">Now let's find what you care about</div>
            </div>
            <div id="preferencesStarterTwo" class="quizPage">
                <div class="quizComponent">
                    <div class="starterHeader text-center">
                        I care about an area with...
                    </div>
                    <hr class="profile-line">
                    <div id="preferencesTwo">
                        <div class="row">
                            <div class="col-sm">
                                <div class="prefContainer housing_costs text-center mt-4" data-isPref=""
                                     id="contNoPrefHousingCosts">
                                    <img src="{% static 'universities/images/living/costs_no_pref.png' %}"
                                         class="imgPref left"
                                         alt="no pref housing costs stock" id="img-housing_costs"/>
                                    <div class="prefText" id="div-housing_costs">I have no preference towards housing
                                        costs
                                    </div>
                                    <input name="housing_costs" id="inp-housing_costs"
                                           value="{{ request.get.GET.housing_costs }}"
                                           style="display:none;"/>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="prefContainer job_availability text-center mt-4" data-isPref=""
                                     id="contNoPrefJobs">
                                    <img src="{% static 'universities/images/living/entry_and_field_jobs.png' %}"
                                         class="imgPref left"
                                         alt="no pref local job preference stock"
                                         id="img-job_availability"/>
                                    <div class="prefText" id="div-job_availability">I have no preference towards local
                                        jobs
                                    </div>
                                    <input name="job_availability" id="inp-job_availability"
                                           value="{{ request.get.GET.job_availability }}"
                                           style="display:none;"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="prefContainer crime text-center mt-4" data-isPref="" id="contNoPrefCrime">
                                    <img src="{% static 'universities/images/living/crime_both.png' %}"
                                         class="imgPref left"
                                         alt="no preference crime stock" id="img-crime"/>
                                    <div class="prefText" id="div-crime">I am not worried about crime in the area</div>
                                    <input name="crime" id="inp-crime" value="{{ request.get.GET.crime }}"
                                           style="display:none;"/>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="prefContainer community text-center mt-4" data-isPref=""
                                     id="contNoPrefCommunity">
                                    <img src="{% static 'universities/images/living/community_no_pref.png' %}"
                                         class="imgPref left"
                                         alt="no preference community stock" id="img-community"/>
                                    <div class="prefText" id="div-community">I have no preference towards community
                                        type
                                    </div>
                                    <input name="community" id="inp-community" value="{{ request.get.GET.community }}"
                                           style="display:none;"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm text-center">
                        <div class="prev btn btn-lg btn-danger mt-4 mb-3">&laquo; Previous</div>
                    </div>
                    <div class="col-sm text-center">
                        <div class="next btn btn-lg btn-danger mt-4 mb-3">Next &raquo;</div>
                    </div>
                </div>
            </div>
            <div id="preferencesStarterIntermThree" class="quizPage interm text-center">
                <div class="intermText">Let's find the type of climate that makes you comfortable</div>
            </div>
            <div id="preferencesStarterThree" class="quizPage">
                <div class="quizComponent">
                    <div class="starterHeader text-center">
                        For an area's climate...
                    </div>
                    <hr class="profile-line">
                    <div id="preferencesThree">
                        <div class="row">
                            <div class="col-sm">
                                <div class="prefContainer summers text-center mt-4" data-isPref=""
                                     id="contNoPrefSummers">
                                    <img src="{% static 'universities/images/climate/summer_no_pref.png' %}"
                                         class="imgPref left"
                                         alt="no preference summers stock" id="img-summers"/>
                                    <div class="prefText" id="div-summers">I have no preference towards summer
                                        temperatures
                                    </div>
                                    <input name="summers" id="inp-summers" value="{{ request.get.GET.summers }}"
                                           style="display:none;"/>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="prefContainer winters text-center mt-4" data-isPref=""
                                     id="contNoPrefWinters">
                                    <img src="{% static 'universities/images/climate/winter_no_pref.png' %}"
                                         class="imgPref left"
                                         alt="no preference winters stock"
                                         id="img-winters"/>
                                    <div class="prefText" id="div-winters">I have no preference towards winter
                                        temperatures
                                    </div>
                                    <input name="winters" id="inp-winters" value="{{ request.get.GET.winters }}"
                                           style="display:none;"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="prefContainer snowy text-center mt-4" data-isPref="" id="contNoPrefSnow">
                                    <img src="{% static 'universities/images/climate/snow_no_pref.png' %}"
                                         class="imgPref left"
                                         alt="no preference snow stock" id="img-snowy"/>
                                    <div class="prefText" id="div-snowy">I have no preference on snow fall amounts</div>
                                    <input name="snowy" id="inp-snowy" value="{{ request.get.GET.snowy }}"
                                           style="display:none;"/>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="prefContainer sunny text-center mt-4" data-isPref="" id="contNoPrefSunny">
                                    <img src="{% static 'universities/images/climate/cloudy.png' %}"
                                         class="imgPref left"
                                         alt="no preference sunny stock" id="img-sunny"/>
                                    <div class="prefText" id="div-sunny">I have no preference towards sunny weather
                                    </div>
                                    <input name="sunny" id="inp-sunny" value="{{ request.get.GET.sunny }}"
                                           style="display:none;"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm text-center">
                        <div class="prev btn btn-lg btn-danger mt-4 mb-3">&laquo; Previous</div>
                    </div>
                    <div class="col-sm text-center">
                        <button class="next btn btn-lg btn-danger mt-4 mb-3" type="submit" id="buttonSubmit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    </body>

    <script src="{% static 'universities/js/quiz.js' %}"></script>

{% endblock %}