{% extends 'universities/base.html' %}

{% block title %}Search{% endblock %}

{% block body %}
    <div class="container contact-page-form shadow-lg p-3 mb-5 bg-white rounded text-dark raised-layout-forms">
        <h1 class="advanced-search-header">Place Your Weights</h1>
        <hr>
        <div class="row">
            <div class="col-sm">
                <h6>Category</h6>
                <div class="slidecontainer">
                    <input type="range" min="-10" max="10" value="0" class="slider" id="myRange">
                    <p>Weight: <span id="demo"></span></p>
                </div>
            </div>
            <div class="col-sm">
                <h6>Category</h6>
                <div class="slidecontainer">
                    <input type="range" min="-10" max="10" value="0" class="slider" id="myRange1">
                    <p>Weight: <span id="demo1"></span></p>
                </div>
            </div>
            <div class="col-sm">
                <h6>Category</h6>
                <div class="slidecontainer">
                    <input type="range" min="-10" max="10" value="0" class="slider" id="myRange2">
                    <p>Weight: <span id="demo2"></span></p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm">
                <h6>Category</h6>
                <div class="slidecontainer">
                    <input type="range" min="-10" max="10" value="0" class="slider" id="myRange3">
                    <p>Weight: <span id="demo3"></span></p>
                </div>
            </div>
            <div class="col-sm">
                <h6>Category</h6>
                <div class="slidecontainer">
                    <input type="range" min="-10" max="10" value="0" class="slider" id="myRange4">
                    <p>Weight: <span id="demo4"></span></p>
                </div>
            </div>
            <div class="col-sm">
                <h6>Category</h6>
                <div class="slidecontainer">
                    <input type="range" min="-10" max="10" value="0" class="slider" id="myRange5">
                    <p>Weight: <span id="demo5"></span></p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm">
                <h6>Category</h6>
                <div class="slidecontainer">
                    <input type="range" min="-10" max="10" value="0" class="slider" id="myRange6">
                    <p>Weight: <span id="demo6"></span></p>
                </div>
            </div>
            <div class="col-sm">
                <h6>Category</h6>
                <div class="slidecontainer">
                    <input type="range" min="-10" max="10" value="0" class="slider" id="myRange7">
                    <p>Weight: <span id="demo7"></span></p>
                </div>
            </div>
            <div class="col-sm">
                <h6>Category</h6>
                <div class="slidecontainer">
                    <input type="range" min="-10" max="10" value="0" class="slider" id="myRange8">
                    <p>Weight: <span id="demo8"></span></p>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-large btn-success">Search</button>
            </div>
        </div>
    </div>
    {% load static %}
    <script src="{% static 'universities/js/adv-search.js' %}" type="text/javascript"></script>
{% endblock %}