{% extends 'universities/base.html' %}
{% load my_tags %}
{% load crispy_forms_filters %}

{% block title %}Users{% endblock %}

{% block body %}
    <div class="container">
        <div class="container shadow-lg p-3 mb-5 mt-5 rounded text-white profile-card">
            <form method="GET">
                {{ user_filter.form.profile_search|as_crispy_field }}
                <button class="btn btn-primary">Search</button>
            </form>
        </div>
        <div class="container shadow-lg p-3 mb-5 mt-5 rounded text-white profile-card">
            <h4>Accounts</h4>
            <hr class="profile-line">
            {% for account in profile %}
                <ul class="list-group list-group-flush">
                    {% if user.is_authenticated %}
                        {% if account.user.is_active %}
                            <li class="list-group-item bg-transparent">
                                <h5><a href="{% url 'user-detail' account.id %}">{{ account.user.username }}</a></h5>
                            </li>
                        {% endif %}
                    {% else %}
                        {% if account.user.is_active %}
                            <li class="list-group-item bg-transparent">
                                <h5><a href="#"
                                       onclick="alert('You must have an account to view profiles!')">{{ account.user.username }}</a>
                                </h5>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            {% endfor %}
            <div class="text-center mt-3">
                {% if is_paginated %}
                    {% if page_obj.has_previous %}
                        <a class="mb-4" href="?{% url_replace page=1 %}">First</a>
                        <a class="mb-4" href="?{% url_replace page=objects.previous_page_number %}">Previous</a>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <a class="mb-4" href="?{% url_replace page=num %}">{{ num }}</a>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <a class="mb-4" href="?{% url_replace page=num %}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <a class="mb-4" href="?{% url_replace page=page_obj.next_page_number %}">Next</a>
                        <a class="mb-4" href="?{% url_replace page=page_obj.paginator.num_pages %}">Last</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}