{% extends 'universities/base.html' %}
{% load crispy_forms_filters %}

{% block title %}Delete Account{% endblock %}
{% load crispy_forms_tags %}
{% block body %}
    <div class="container">
        <div class="shadow-lg p-3 mb-3 mt-5 rounded text-white profile-card">
            <form method="POST" action="{% url 'delete_user' %}">
                {% csrf_token %}
                <h2 class="text-center">Delete Account</h2>
                <small>*Note that you can not reverse this action!</small>
                <hr class="profile-line">
                <div class="text-center">
                    <button type="submit" role="button" class="btn btn-danger">Delete Account</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}