{% extends 'universities/base.html' %}
{% load crispy_forms_filters %}

{% block title %}Register{% endblock %}
{% load crispy_forms_tags %}
{% block body %}
    <div class="container shadow-lg p-3 mb-5 mt-5 rounded text-white profile-card">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb4">
                    Create Account
                </legend>
                {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <script src="https://www.google.com/recaptcha/api.js"></script>
                <div class="g-recaptcha" data-sitekey="6Leqht8ZAAAAAHz6VcS_ZwftW6ReT9dZSYMihdHx"
                data-callback="recaptcha_callback"></div>
                <br/>
                <button class="btn btn-primary btn-lg contact-button register-button" type="submit" disabled>Create Account</button>
            </div>
        </form>
    <div class="border-top pt-3">
        <small>
            Already Have An Account? <a href="{% url 'login' %}" class="ml-2">Sign In</a>
        </small>
    </div>
    </div>
    {% load static %}
    <script src="{% static 'users/js/recaptcha.js' %}" type="text/javascript"></script>
{% endblock %}