.contact-page-form {
    margin-top: 2em;
}

.contact-page-header {
    padding-bottom: 1em;
    font-size: 4vmax;
    text-align: center;
}

.about-page-header {
    margin-top: 2em;
}

.raised-layout-forms {
    margin-top: 3em;
    width: 75%;
    height: 75%;
}