.starterHeader {
    font-size: 2em;
}

.quizPage {
    margin-top: 3em;
    display:none;
}

.interm {
    display: none;
    font-family: 'Chilanka', cursive;
    font-size: 3em;
}

#formStarter {
    display: none;
    font-size: 24px;
}

#preferencesStarter {
    display: none;
}

#form {
    line-height: 1.7;
}

#quiz {
    width: 82%;
    height: 82%;
    cursor: pointer;
}

.prefText {
    font-size: 24px;
}

.prefContainer {
    cursor: pointer;
}

#info {
    font-size: 1.3em;
    font-family: 'Chilanka', cursive;
    line-height: 1.7;
}
