.contact-page-form {
    margin-top: 2em;
}

.contact-page-header {
    padding-bottom: 1em;
    font-size: 4vmax;
    text-align: center;
}

.about-page-header {
    margin-top: 2em;
}

.raised-layout-forms {
    margin-top: 3em;
    width: 75%;
    height: 75%;
}

.universities-page-header {
    font-size: 3vmax !important;
}

#nav-search-bar {
    position: relative;
}

#search-results {
    display: none;
    color: black;
    position: absolute;
    width: auto;
    background: white;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    overflow-y: auto;
    border: 1px solid gray;
    box-shadow: 2px 2px 2px rgb(141, 141, 141);
}

#search-results-list {
    width: auto;
}

#search-results-list li {
    width: 100%;
    padding: 5px;
}

#search-results-list li:hover {
    background-color: lightgray;
}

#search-results-list li a {
    display: block;
    width: 100%;
    color: black;
    outline: none;
}

#search-results-list li span {
    color: darkgray;
    font-size: medium;
}

#search-results-list li a:hover {
    text-decoration: none;
}

.advanced-search-header {
    font-size: 3vmax !important;
}

/* All Slider CSS is used in search.html */
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: .9em;
    border-radius: .3em;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

@media screen and (max-width: 575px) {
    #rc-imageselect, .g-recaptcha {
        transform: scale(0.70);
        -webkit-transform: scale(0.70);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }

    .small-screen {
        padding-top: 1em;
    }

    #tuition-chart {
        height: 250px;
    }

    #act-chart, #sat-chart {
        height: 250px;
    }

    #demographic-chart {
        height: 375px;
    }

    #literature-language-social-science-chart, #engineering-technology-chart, #business-chart,
    #science-math-chart, #arts-chart, #social-sciences-chart {
        height: 400px;
    }
}

#literature-language-social-science-chart, #engineering-technology-chart, #business-chart,
#science-math-chart, #arts-chart, #social-sciences-chart {
    height: 400px;
    width: 100%;
}

#home-page, #details-page {
    background: #0F2027 !important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027) !important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav-link {
    color: white !important;
    letter-spacing: 0.10em !important;
    position: relative !important;
    margin-left: .5em !important;
}

.navbar-brand {
    letter-spacing: 0.10em !important;
}

.nav-link::after {
  position: absolute;
  content: "";
  height: .1em;
  top: 100%;
  background: currentColor;
  z-index: -1;
  left: 0;
  right: 0;
  transform: scaleX(0);
  transition: transform .5s cubic-bezier(.95, .05, .795, .035);
}

.nav-link:hover::after {
  transition-timing-function: cubic-bezier(.19, 1, .22, 1);
  transform: scaleX(1);
}