/* New Design Goes Below This Line */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto Cn', sans-serif;
}

a {
    text-decoration: none !important;
    color: #eee;
}

header {
    width: 100%;
}

.header-container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

nav {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1rem;
}

.brand-name {
    font-size: 1.5rem !important;
    font-weight: 300;
}

nav ul {
    margin-top: .7rem;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    padding: 1rem 0;
    margin: 5rem 3rem;
    position: relative;
    letter-spacing: 2px;
}

nav ul li a:last-child {
    margin-right: 0;
}

nav ul li a::before,
nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #eee;
    transform: scaleX(0);
    transition: all .5s;
}

nav ul li a::before {
    bottom: 0;
    transform-origin: center;
}

nav ul li a::after {
    bottom: 0;
    transform-origin: center;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
    transform: scaleX(1);
}

.menu-toggle {
    position: fixed;
    top: 2.5rem;
    right: 2.5rem;
    color: #eeeeee;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1000;
    display: none;
}

#welcome-text {
    margin-top: 20vh;
}

#result-count-text {
    margin-top: 8vh;
}

#search-icon {
    display: none;
}

.nav-bar-search {
    width: 25rem;
    height: 2rem;
    background-color: white;
    border-radius: 30px;
    display: none;
    align-items: center;
    padding: 1rem;
}

.nav-bar-search > i {
    font-size: 20px !important;
    display: none;
}

.nav-bar-search > input {
    flex: 1;
    height: 30px;
    border: none;
    outline: none;
    font-size: 18px !important;
}

#full-bar-search {
    margin-left: 2rem;
    cursor: pointer;
}


#home-page-content {
    overflow-y: auto;
    height: 33rem;
    font-size: 18px;
}

#university-results-content {
    overflow-y: auto;
    height: 24rem;
}

#register-page-content {
    margin-top: 5vh;
    overflow-y: auto;
    height: 31rem;
}

#detail-page-content {
    overflow-y: auto;
    height: 32rem;
    font-size: 18px !important;
}

#dropdown-text {
    font-size: 16px;
}

.main-login-section {
    margin: 10vh auto 0;
    padding: 0;
    width: 40vw;
}

.main-register-section {
    margin: 2vh auto 0;
    padding: 0;
    width: 50vw;
}

.login-modal-content, .register-modal-content {
    background-color: rgba(0, 0, 0, 0.7);
    opacity: .8;
    padding: 0 18px;
    border-radius: 10px;
}

.login-form-group, .register-form-group {
    margin-bottom: 2rem;
    z-index: -1;
}

.custom-homepage-button {
    padding: 8px;
    background-color: #00bbec;
    color: #eee;
    cursor: pointer;
    border: none;
    letter-spacing: 2px;
}

.home-image {
    filter: brightness(85%);
}

#after-content {
    margin-top: 35vh;
}

.fa-chevron-down {
    font-size: 32px;
    margin-top: 8vh;
    animation: updown 2s ease infinite;
}

#about-row {
    margin-top: 10vh;
}

#map-service, #quiz-service, #details-service {
    padding-top: 15vh;
}

.registration-complete-main {
    margin-top: 20vh;
}

#delete-account-form, #logout-account-form {
    margin-top: 15vh;
}

.contact-page-content {
    height: 80vh;
    overflow-y: auto;
}

#change-password-form {
    height: 85vh;
    overflow-y: auto;
}

#profile-content {
    height: 85vh;
    overflow-y: auto;
}

.quiz-form-content {
    height: 85vh;
    overflow-y: auto;
}

#sticky-footer {
    bottom: 0;
    left: 0;
    position: absolute;
    margin-left: .5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.7;
    margin-bottom: -.5rem;
    font-size: 10px !important;
}

#sticky-footer .dropdown {
    visibility: hidden;
}

.about-page-content {
    line-height: 1.7;
    height: 85vh;
    overflow-y: auto;
}

.full-nav-bar-search {
    margin-top: -.6rem;
}

#user-list {
    height: 80vh;
    overflow-y: auto;
}

#profile-detail-content {
    overflow-y: auto;
    height: 80vh;
}

@keyframes updown {
    0% {
        transform: translateY(-50%);
    }

    50% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(-50%);
    }
}

@media screen and (max-width: 700px) {

    .quiz-form-content {
        height: 65vh;
    }

    #search-link-icon {
        display: none;
    }

    #sticky-footer {
        visibility: hidden;
    }

    #sticky-footer .dropdown {
        bottom: 0;
        left: 0;
        position: absolute;
        margin-left: .5rem;
        visibility: visible;
        font-size: 10px !important;
    }

    .main-login-section, .main-register-section {
        margin-top: 5vh;
        width: 85vw;
    }

    #register-page-content {
        margin-top: 3vh;
        height: 65vh;
    }

    #detail-page-content {
        margin-top: 5vh;
        height: 65vh;
    }

    #universities-search-results-content, #university-results-content {
        height: 56vh !important;
    }

    #full-bar-search {
        display: none;
    }

    #search-icon {
        color: black;
        display: flex;
        margin-top: .3rem;
    }

    #home-page-content {
        margin-top: 7vh;
        height: 65vh !important;
    }

    .nav-bar-search {
        margin-top: 3rem;
        display: flex;
        width: 12rem;
    }

    #welcome-text {
        margin-top: 20vh;
    }

    .menu-toggle {
        display: block;
        position: absolute;
    }

    nav {
        padding-top: 0;
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        margin-top: 8rem;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-top: 2rem;
    }

    nav ul li a {
        margin: 0;
        font-size: 1.5rem;
    }

    .brand-name {
        margin-top: -5rem;
        font-size: 2rem !important;
    }

    .overlay.menu-open,
    nav.menu-open {
        display: flex;
        transform: scale(1);
    }
}


/* Older Design */
.contact-page-form {
    margin-top: 2em;
}

.contact-page-header {
    font-size: 4vmax;
    text-align: center;
}

.about-page-header {
    margin-top: 2em;
}

.raised-layout-forms {
    margin-top: 3em;
    width: 85%;
    height: 75%;
}

.universities-page-header {
    font-size: 3vmax !important;
}

#search-results {
    display: none;
    color: black;
    position: absolute;
    width: auto;
    background: white;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    overflow-y: auto;
    border: 1px solid gray;
    box-shadow: 2px 2px 2px rgb(141, 141, 141);
    top: 5rem;
    z-index: 100;
}

#search-results-list {
    width: auto;
}

#search-results-list li {
    width: 100%;
    padding: 5px;
}

#search-results-list li:hover {
    background-color: lightgray;
}

#search-results-list li a {
    display: block;
    width: 100%;
    color: black;
    outline: none;
}

#search-results-list li span {
    color: darkgray;
    font-size: medium;
}

#search-results-list li a:hover {
    text-decoration: none;
}

.advanced-search-header {
    font-size: 3vmax !important;
}

@media screen and (max-width: 575px) {
    #rc-imageselect, .g-recaptcha {
        transform: scale(0.70);
        -webkit-transform: scale(0.70);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }

    .small-screen {
        padding-top: 1em;
    }

    #tuition-chart {
        height: 250px;
    }

    #act-chart, #sat-chart {
        height: 250px;
    }

    #demographic-chart {
        height: 375px;
    }

    #literature-language-social-science-chart, #engineering-technology-chart, #business-chart,
    #science-math-chart, #arts-chart, #social-sciences-chart {
        height: 400px;
    }
}

#literature-language-social-science-chart, #engineering-technology-chart, #business-chart,
#science-math-chart, #arts-chart, #social-sciences-chart {
    height: 400px;
    width: 100%;
}

.general-layout {
    background: #0F2027 !important; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027) !important; /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav-link {
    color: white !important;
    letter-spacing: 0.10em !important;
    position: relative !important;
    margin-left: .5em !important;
}

#institution-links {
    letter-spacing: 0.05em !important;
}

.navbar-brand {
    letter-spacing: 0.10em !important;
}

.nav-link::after {
    position: absolute;
    content: "";
    height: .1em;
    top: 100%;
    background: currentColor;
    z-index: -1;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transition: transform .5s cubic-bezier(.95, .05, .795, .035);
}

.nav-link:hover::after {
    transition-timing-function: cubic-bezier(.19, 1, .22, 1);
    transform: scaleX(1);
}

button,
select {
    text-transform: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

html {
    height: 100%;
}

.s009 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px;
    font-family: 'Lato', sans-serif;
}

.s009 form {
    width: 100%;
    max-width: 990px;
    margin: 0;
}

.s009 form .inner-form {
    width: 100%;
}

.s009 form .inner-form .input-field {
    position: relative;
}

.s009 form .inner-form .input-field input {
    height: 100%;
    border: 0;
    /* background: #fff; */
    background: rgba(0, 0, 0, 0.7);
    display: block;
    width: 100%;
    padding: 10px 32px 10px 70px;
    font-size: 18px;
    color: #666;
    border-radius: 3px;
    height: 70px;
    color: #555;
    font-family: 'Lato', sans-serif;
}

.s009 form .inner-form .input-field input.placeholder {
    color: #999;
    font-size: 18px;
    font-weight: 600;
}

.s009 form .inner-form .input-field input:-moz-placeholder {
    color: #999;
    font-size: 18px;
    font-weight: 600;
}

.s009 form .inner-form .input-field input::-webkit-input-placeholder {
    color: #999;
    font-size: 18px;
    font-weight: 600;
}

.s009 form .inner-form .input-field input:hover, .s009 form .inner-form .input-field input:focus {
    box-shadow: none;
    outline: 0;
}

.s009 form .inner-form .input-field .btn-search {
    min-width: 100px;
    height: 40px;
    padding: 0 15px;
    background: #00bbec;
    white-space: nowrap;
    border-radius: 0;
    font-size: 14px;
    color: #fff;
    transition: all .2s ease-out, color .2s ease-out;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
}

.s009 form .inner-form .input-field .btn-search:hover, .s009 form .inner-form .input-field .btn-search:focus {
    background: #00a7d3;
}

.s009 form .inner-form .input-field .btn-delete {
    min-width: 100px;
    height: 40px;
    padding: 0 15px;
    background: transparent;
    white-space: nowrap;
    border-radius: 0;
    font-size: 14px;
    color: #666;
    transition: all .2s ease-out, color .2s ease-out;
    border: 0;
    cursor: pointer;
    font-weight: bold;
}

.s009 form .inner-form .input-field .btn-delete:hover, .s009 form .inner-form .input-field .btn-delete:focus {
    color: #FFF;
    outline: 0;
    box-shadow: none;
}

.s009 form .inner-form .basic-search {
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    border-bottom: 2px solid #36738d;
}

.s009 form .inner-form .basic-search .input-field {
    width: 100%;
}

.s009 form .inner-form .basic-search .input-field input {
    padding: 10px 80px 10px 40px;
    color: #FFF
}

.s009 form .inner-form .basic-search .input-field .icon-wrap {
    position: absolute;
    top: 0;
    right: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 60px;
    height: 100%;
}

.s009 form .inner-form .basic-search .input-field .icon-wrap svg {
    width: 34px;
    height: 34px;
    fill: #ccc;
}

.s009 form .inner-form .advance-search {
    background: rgba(0, 0, 0, 0.7);
    padding: 40px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.s009 form .inner-form .advance-search .desc {
    font-size: 14px;
    color: #999;
    display: block;
    margin-bottom: 26px;
    font-weight: bold;
}

.s009 form .inner-form .advance-search .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.s009 form .inner-form .advance-search .row.second {
    margin-bottom: 46px;
}

.s009 form .inner-form .advance-search .row.third {
    margin-bottom: 0;
}

.s009 form .inner-form .advance-search .row.third .input-field {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.s009 form .inner-form .advance-search .row.third .input-field .result-count {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    width: 110px;
    color: #666;
    font-size: 14px;
}

.s009 form .inner-form .advance-search .row.third .input-field .result-count span {
    color: #00bbec;
    padding-right: 5px;
}

.s009 form .inner-form .advance-search .input-field {
    width: calc((100% - 40px) / 3);
}

@media screen and (max-width: 767px) {
    .s009 form .inner-form .basic-search .input-field input {
        padding: 10px 80px 10px 15px;
    }

    .s009 form .inner-form .basic-search .input-field .icon-wrap {
        width: 80px;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .s009 form .inner-form .basic-search .input-field .icon-wrap svg {
        width: 30px;
        height: 30px;
    }

    .s009 form .inner-form .advance-search {
        padding: 30px 15px;
    }

    .s009 form .inner-form .advance-search .row {
        display: block;
    }

    .s009 form .inner-form .advance-search .input-field {
        width: 100%;
        padding: 1em;
        margin-bottom: 20px;
    }
}

#myCarousel {
    background-color: transparent;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    height: 25rem;
    background-color: #777;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 25rem;
}

@media (min-width: 40em) {
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
}

.profile-card {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.profile-line {
    border-color: white;
}

#institution-map {
    height: 35em;
}

@media screen and (min-width: 600px) {
    #email-image {
        margin-top: 7em;
    }

    #contact-right-column {
        margin-right: 3em;
    }
}
